#popular-meal {
    margin: 100px 0 50px;

    #meal-display {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }
    .card {
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border: 0;
        text-transform: capitalize;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    .meal-title {
        margin: 25px 0 15px;
    }
    .card-inner-content {
        padding: 20px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
    }
}
